@model IEnumerable<IT_Control_Tower.NewHire>
@using GridMvc.Html
@using IT_Control_Tower.Views.NewHires.Helpers
@section css {

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

}
@{
    ViewBag.Title = "Index";
}
<div>
    <ol class="breadcrumb" style="position:fixed;width:100%;z-index:999;">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("HAM", "Index", "HAM")</li>
        <li>@Html.ActionLink("New Hires", "Index", "NewHires")</li>
    </ol>
</div>
<div class="container" style="margin-top:4rem;">
    @using (Html.BeginForm("Index", "NewHires", FormMethod.Get))
    {
        <h2 style="color:#009e4d;">New Hire Management</h2>
        <b>Search:</b>
        @Html.TextBox("searchText")
        <input type="submit" value="Search" />
    }
    <p>
        </br>
        <input type="button" class="btn btn-info" value="Create New Hire" onclick="location.href='@Url.Action("Create")'" style="background-color:#009e4d;" />
    </p>
    @*Ready Table*@
    <button0 class="btn btn-block" style="background-color:#009e4d; color:white; text-align:left; display:flex; ">
        Ready (@Model.Where(c => c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up").Count())
        <img src="~/Content/images/arrow.png" id="arrow0" style="margin-right: 10px; margin-left:auto;" />
    </button0>
    @*Ready Table*@
<div id="NHReady">

    @Html.Grid(Model.Where(c => c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up")).Named("NHReady").Columns(columns =>
{
    columns.Add(col => col.SESA, false).Titled("SESA");
    columns.Add(col => col.StartDate, false).Titled("Start Date").Format("{0: dd/MM/yyyy}");
    columns.Add(col => col.Assignee, false).Titled("Assignee");
    columns.Add(col => col.Email, false).Titled("Email");
    columns.Add(col => col.Box, false).Titled("Box");
    columns.Add(col => col.Computer, false).Titled("Computer");
    columns.Add(col => col.Headset, false).Titled("Headset");
    columns.Add(col => col.Printer, false).Titled("Printer");
    columns.Add(col => col.Statuses, false).Titled("Status");
    columns.Add().SetWidth(10).Titled("Edit")
    .Encoded(false)
    .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Edit", "Edit", new { id = col.SESA }));
    columns.Add().SetWidth(10).Titled("Details")
    .Encoded(false)
    .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Details", "Details", new { id = col.SESA }));
    columns.Add().SetWidth(10).Titled("Delete")
    .Encoded(false)
    .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Delete", "Delete", new { id = col.SESA }));
    columns.Add().SetWidth(10).Titled("Lock")
    .Encoded(false)
    .Sanitized(false).RenderValueAs(col => @Html.ImageActionLink("Link Display Text",
"LockNH", "NewHires", new { id = col.SESA }, null, col.Lock)).SetWidth(10);
}).WithPaging(50).Selectable(false)
    
</div>
    <p></p>
    <button1 class="btn btn-block" style="background-color:#009e4d; color:white; text-align:left; display:flex; ">
        T-0 (@Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays <= 0).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up")).Count())
        <img src="~/Content/images/arrow.png" id="arrow1" style="margin-right: 10px; margin-left:auto;" />
    </button1>
    @*T - 0 Table*@
    <div id="NHT0">

        @Html.Grid(Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays <= 0).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up"))).Named("NHT0").Columns(columns =>
   {
       columns.Add(col => col.SESA, false).Titled("SESA");
       columns.Add(col => col.StartDate, false).Titled("Start Date").Format("{0: dd/MM/yyyy}");
       columns.Add(col => col.Assignee, false).Titled("Assignee");
       columns.Add(col => col.Email, false).Titled("Email");
       columns.Add(col => col.Box, false).Titled("Box");
       columns.Add(col => col.Computer, false).Titled("Computer");
       columns.Add(col => col.Headset, false).Titled("Headset");
       columns.Add(col => col.Printer, false).Titled("Printer");
       columns.Add(col => col.Statuses, false).Titled("Status");
       columns.Add().SetWidth(10).Titled("Edit")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Edit", "Edit", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Details")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Details", "Details", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Delete")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Delete", "Delete", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Lock")
   .Encoded(false)
   .Sanitized(false).RenderValueAs(col => @Html.ImageActionLink("Link Display Text",
   "LockNH", "NewHires", new { id = col.SESA }, null, col.Lock)).SetWidth(10);


    }).WithPaging(50).Selectable(false)


    </div>

    <p></p>
    <button2 class="btn btn-block" style="background-color:#009e4d; color:white; text-align:left; display:flex;">
        T-3 (@Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays.Equals(3)).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up")).Count())
        <img src="~/Content/images/arrow.png" id="arrow2" style="margin-right: 10px; margin-left:auto;" />
    </button2>
    @*T - 3 Table*@
    <div id="NHT3">

        @Html.Grid(Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays.Equals(3)).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up"))).Named("NHT3").Columns(columns =>
   {
       columns.Add(col => col.SESA, false).Titled("SESA");
       columns.Add(col => col.StartDate, false).Titled("Start Date").Format("{0: dd/MM/yyyy}");
       columns.Add(col => col.Assignee, false).Titled("Assignee");
       columns.Add(col => col.Email, false).Titled("Email");
       columns.Add(col => col.Box, false).Titled("Box");
       columns.Add(col => col.Computer, false).Titled("Computer");
       columns.Add(col => col.Headset, false).Titled("Headset");
       columns.Add(col => col.Printer, false).Titled("Printer");
       columns.Add(col => col.Statuses, false).Titled("Status");
       columns.Add().SetWidth(10).Titled("Edit")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Edit", "Edit", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Details")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Details", "Details", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Delete")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Delete", "Delete", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Lock")
   .Encoded(false)
   .Sanitized(false).RenderValueAs(col => @Html.ImageActionLink("Link Display Text",
"LockNH", "NewHires", new { id = col.SESA }, null, col.Lock)).SetWidth(10);

    }).WithPaging(5).Selectable(false)

    </div>
    <p></p>
    @*T - 5 Table*@
    <button3 class="btn btn-block" style="background-color:#009e4d; color:white;text-align:left; display:flex;">
        T-5 (@Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays > 5).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up")).Count())
        <img src="~/Content/images/arrow.png" id="arrow3" style="margin-right: 10px; margin-left:auto;" />
    </button3>

    <div id="NHT5">

        @Html.Grid(Model.Where(c => c.StartDate.Subtract(DateTime.Today).TotalDays > 5).Where(c => !(c.Headset == "ready for collection" && c.Computer == "ready for collection" && c.Printer == "set up"))).Named("NHT5").Columns(columns =>
   {
       columns.Add(col => col.SESA, false).Titled("SESA");
       columns.Add(col => col.StartDate, false).Titled("Start Date").Format("{0: dd/MM/yyyy}");
       columns.Add(col => col.Assignee, false).Titled("Assignee");
       columns.Add(col => col.Email, false).Titled("Email");
       columns.Add(col => col.Box, false).Titled("Box");
       columns.Add(col => col.Computer, false).Titled("Computer");
       columns.Add(col => col.Headset, false).Titled("Headset");
       columns.Add(col => col.Printer, false).Titled("Printer");
       columns.Add(col => col.Statuses, false).Titled("Status");
       columns.Add().SetWidth(10).Titled("Edit")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Edit", "Edit", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Details")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Details", "Details", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Delete")
       .Encoded(false)
       .Sanitized(false).RenderValueAs(col => @Html.ActionLink("Delete", "Delete", new { id = col.SESA }));
       columns.Add().SetWidth(10).Titled("Lock")
   .Encoded(false)
   .Sanitized(false).RenderValueAs(col => @Html.ImageActionLink("Link Display Text",
"LockNH", "NewHires", new { id = col.SESA }, null, col.Lock)).SetWidth(10);

   }).WithPaging(5).Selectable(false)

    </div>
    @section Scripts {

        <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>


        @*Script to color table*@
        <script type="text/javascript">

            //$('tr').each(function (index) { //iterate over all table rows

            //    if (index > 0) {     //skip header
            //        var today = new Date();
            //        //console.log(d.getMonth() + 1);
            //        //slice to date format
            //        var slice = $(this).children('td:nth-child(2)').text().substring(0, $(this).children('td:nth-child(2)').text().length - 3)
            //        //Change / to -, before converting to date obj
            //        var date = new Date(slice.replace(/\//g, '-'));
            //        //Change from millis to days
            //        var days = Math.floor((today - date) / (1000 * 60 * 60 * 24));
            //        console.log(date.Subtract(DateTime.Today).TotalDays);
            //        //Days more than 5
            //        if (days < -5) {
            //            $(this).children('td:nth-child(2)').css("background-color", "#90EE90");
            //        }
            //        //Overdue
            //        else if (days > 0) {
            //            $(this).children('td:nth-child(2)').css("background-color", "#DCDCDC");
            //        }
            //        //T-5 to T-0
            //        switch (days) {

            //            case -5:
            //                $(this).children('td:nth-child(2)').css("background-color", "#32CD32");
            //                break;
            //            case -4:
            //                $(this).children('td:nth-child(2)').css("background-color", "#FFFF99");
            //                break;
            //            case -3:
            //                $(this).children('td:nth-child(2)').css("background-color", "#FFFF00");
            //                break;
            //            case -2:
            //                $(this).children('td:nth-child(2)').css("background-color", "#FFd589");
            //                break;
            //            case -1:
            //                $(this).children('td:nth-child(2)').css("background-color", "#FFB327");
            //                break;
            //            case 0:
            //                $(this).children('td:nth-child(2)').css("background-color", "#FF0000");
            //                break;

            //        }



            //if ($(this).children('td:nth-child(2)').text().substring(0, 1) == Date.now)  //look for the 3rd td in each row. thats where your age is.
            //{
            //    $(this).children('td:nth-child(2)').css("background-color", "green");
            //}
            //else {
            //    $(this).children('td:nth-child(2)').css("background-color", "red");
            //}

            //    }
            //});
            //show and hide functions
            document.getElementById('arrow2').style.transform = 'rotate(90deg)';
            document.getElementById('arrow3').style.transform = 'rotate(90deg)';
            $('#NHT3').hide();
            $('#NHT5').hide();
            $('button0').click(function () {
                const img = document.getElementById('arrow0')
                if ($("#NHReady").is(':visible')) {
                    $("#NHReady").hide()
                    img.style.transform = 'rotate(90deg)'
                } else {
                    $("#NHReady").show()
                    img.style.transform = 'rotate(360deg)'

                }
            })
            $('button1').click(function () {
                const img = document.getElementById('arrow1')
                if ($("#NHT0").is(':visible')) {
                    $("#NHT0").hide()
                    img.style.transform = 'rotate(90deg)'
                } else {
                    $("#NHT0").show()
                    img.style.transform = 'rotate(360deg)'

                }
            })
            $('button2').click(function () {
                const img = document.getElementById('arrow2')
                if ($('#NHT3').is(':visible')) {
                    $('#NHT3').hide()
                    img.style.transform = 'rotate(90deg)'
                } else {
                    $('#NHT3').show()
                    img.style.transform = 'rotate(360deg)'
                }
            })
            $('button3').click(function () {
                const img = document.getElementById('arrow3')
                if ($('#NHT5').is(':visible')) {
                    $('#NHT5').hide()
                    img.style.transform = 'rotate(90deg)'
                } else {
                    $('#NHT5').show()
                    img.style.transform = 'rotate(360deg)'
                }
            })
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    }


</div>

